<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org" lang="en">

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <link href="https://fonts.googleapis.com/css?family=Montserrat:100,200,300,400,500,600,700,800,900" rel="stylesheet">

    <title>Student Registration - Sign Up</title>

    <!-- Bootstrap core CSS -->
    <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Additional CSS Files -->
    <link rel="stylesheet" href="assets/css/fontawesome.css">
    <link rel="stylesheet" href="assets/css/templatemo-grad-school.css">
    <link rel="stylesheet" href="assets/css/owl.css">
    <link rel="stylesheet" href="assets/css/lightbox.css">
</head>

<body>
<!--header-->
<header class="main-header clearfix" role="header">
    <div class="logo">
        <a href="#"><em>Grad</em> School</a>
    </div>
    <a href="#menu" class="menu-link"><i class="fa fa-bars"></i></a>
    <nav id="menu" class="main-nav" role="navigation">
        <ul class="main-menu">
            <li><a href="/">Home</a></li>
        </ul>
    </nav>
</header>

<section class="section contact vh-100" data-section="section1">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-12">
                <div class="section-heading">
                    <h2>Student Registration</h2>
                </div>
            </div>
            <div class="col-md-8">
                <form action="/processRegisterStudent" method="post" th:object="${user}">
                    <div class="row justify-content-center">
                        <div class="col-md-12">
                            <fieldset>
                                <input type="email" class="form-control" placeholder="E-mail" th:field="*{email}" required>
                            </fieldset>
                        </div>
                        <div class="col-md-12">
                            <fieldset>
                                <input type="text" class="form-control" placeholder="First Name" th:field="*{firstName}" required>
                            </fieldset>
                        </div>
                        <div class="col-md-12">
                            <fieldset>
                                <input type="text" class="form-control" placeholder="Last Name" th:field="*{lastName}" required>
                            </fieldset>
                        </div>

                        <div class="col-md-12">
                            <fieldset>
                                <input type="text" class="form-control" placeholder="Subject" th:field="*{matiere}" required>
                            </fieldset>
                        </div>
                        <div class="col-md-12">
                            <fieldset>
                                <input type="number" class="form-control" placeholder="Phone Number" th:field="*{phoneNumber}" required>
                            </fieldset>
                        </div>
                        <div class="col-md-12">
                            <fieldset>
                                <input type="password" class="form-control" placeholder="Password" th:field="*{password}" required>
                            </fieldset>
                        </div>
                        <div class="col-3">
                            <button type="submit">Sign Up</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>

<footer>
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <p><i class="fa fa-copyright"></i> Copyright 2022 by Grad School
                </p>
            </div>
        </div>
    </div>
</footer>

<!-- Scripts -->
<!-- Bootstrap core JavaScript -->
<script src="vendor/jquery/jquery.min.js"></script>
<script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

<script src="assets/js/isotope.min.js"></script>
<script src="assets/js/owl-carousel.js"></script>
<script src="assets/js/lightbox.js"></script>
<script src="assets/js/tabs.js"></script>
<script src="assets/js/video.js"></script>
<script src="assets/js/slick-slider.js"></script>
<script src="assets/js/custom.js"></script>
</body>
</html>
